<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.android">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>

        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Structure_Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ex20.SimpleNotificationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ex9.MenuExampleActivity"
            android:exported="false"></activity>
        <activity
            android:name=".ex8.ScoreKeeperActivity"
            android:exported="false"></activity>
        <activity
            android:name=".ex10.TabExperimentActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sun.android.NavigationActivity" />
        </activity>
        <activity
            android:name=".ex6.FragmentExample2Activity"
            android:exported="false" />
        <activity
            android:name=".ex6.FragmentExample1Activity"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ex5.Ex5MainActivity"
            android:exported="false"
            android:label="Ex4"
            android:parentActivityName=".NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sun.android.NavigationActivity" />
        </activity>
        <activity
            android:name=".ex3.Ex3SecondaryActivity"
            android:exported="false"
            android:label="Second Activity"
            android:parentActivityName=".ex3.Ex3MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sun.android.ex3.Ex3MainActivity" />
        </activity>
        <activity
            android:name=".ex3.Ex3MainActivity"
            android:exported="false" />
    </application>

</manifest>
